@use "../scss/shared" as *;
@use "tailwindcss";

/* Tailwind base/components/utilities remain below */
@tailwind base;
@tailwind components;
@tailwind utilities;

$main: #0f172a;
$subMain: #1A2539;
$bgMain: #020617;

html,
body {
  background-color: $bgMain;
}

.color-main {
  color: $main !important;
}

.bg-main {
  background-color: $main !important;
}

.bg-sub-main {
  background-color: $subMain !important;
}
